*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #7743db;
    padding: 0 20px;
}

::selection{
    color: #fff;
    background: #664AFF;
}

.wrapper{
    max-width: 450px;
    margin: 100px auto;
}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.top-searches{
    margin-top: 30px;
}

.top-searches input{
    margin: 5px 1%;
    align-content: center;
    padding: 5px;

    border-radius: 15px;
    border: none;

    width: 30%;
    background-color: #ffe9b1;
    font-weight: bold;

}

.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
    border-radius: 5px 5px 0 0;
}

#search-button:hover{
    background-color: rgba(211, 211, 211, 0.49);
}

.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #efefef;
}

.search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

#search-button{
    background-color: lightgrey;
}