<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/098c99ca-3b0a-4a4f-a139-01cd9867aca3/resourcegroups/WebAPI20221031145639ResourceGroup/providers/Microsoft.Web/sites/WebAPI20221031145639</ResourceId>
    <ResourceGroup>WebAPI20221031145639ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/098c99ca-3b0a-4a4f-a139-01cd9867aca3/resourceGroups/WebAPI20221031145639ResourceGroup/providers/Microsoft.ApiManagement/service/ICSI418api/apis/WebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi20221031145639.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>468fff7e-295d-4925-be4d-b766df664ea1</ProjectGuid>
    <MSDeployServiceURL>webapi20221031145639.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAPI20221031145639</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebAPI20221031145639</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>